/*  */
/* afecta a todos los elementos del html */
* {
    margin: 0px;
    padding: 0px;
    
  }

  h1{
    font-size: 30px;
    text-align: center;
    color: #184a8d;
    font-weight: normal;
    font-family: Arial;
    text-transform: uppercase;
    text-shadow: #555 1px 1px 2px;
}

  html,body{
    
    position: absolute;/* ajusta el fondo al ancho y alto del navegador  */
    width: 100%;
    height: 100%;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+17,6199c7+50,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100;Blue+Gloss */
background: rgb(206,219,233); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(58,132,195,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 ); /* IE6-9 */


  }
  
  .estilotextarea {
    font-size: 15px;
    font-family: Arial;
      margin-left: 60px;
      min-width: 1700px;
      max-width: 1700px;
      min-height:300px;
      max-height:300px;
      border: 0px;
      background-color: rgba(238, 238, 238, 0.61);
    
    } 

/* boton regresar */
    p a:link, a:visited, a:active{
        border: 1px solid #2e518b; /*anchura, estilo y color borde*/
      padding: 8px; /*espacio alrededor texto*/
      background-color: #3d7ba8; /*color botón*/
      color: #ffffff;; /*color texto*/
      text-decoration: none; /*decoración texto*/
      font-family: 'Helvetica', sans-serif; /*tipografía texto*/
      border-radius: 4px; /*bordes redondos*/
      margin-left: 60px;
      }

      input[type=submit] {

        padding:10px 20px; 
        background:rgb(194, 203, 218); 
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        color: #3a3ca8;
        margin-left: 60px;
        font-size:17px;
                      
    }

    label {
        
      margin-left : 60px;
    }

    .Consulta{
      margin : 60px;
    }